:root {
  --color-main: #ff8093;
  --color-main-light: #ffdcdd;
  --color-main-super-light: #ffdcdd1c;
  --color-text: #352523;
  --color-light-gray: #f7f7f7;
  --color-form-border: rgba(255, 220, 221, 0.56);
}

/** General paddings, margins, styles **/
*,
a:hover {
  text-decoration: none;
}

body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  color: var(--color-text);
}

.site-content {
  padding: 60px 0;
  min-height: calc(100vh - 40px);
  background-color: var(--color-main-super-light);
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-main);
}

.background-image {
  width: 100%;
  display: block;
  background-size: cover;
  padding-top: 40px;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.transparent-overlay {
  min-height: calc(100vh - 140px);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  background-attachment: fixed;
}

.section__title {
  text-align: center;
  font-size: 3em;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 10px;
  font-family: 'Sacramento', cursive;
}

.section__sub-title {
  text-align: center;
}

/* Header */
.navbar {
transition: all .6s ease-in-out;
top: 0;
z-index: 5;
width: 100%;
min-height: 100px;
position: fixed;
}

.navbar-color {
  background-color: var(--color-light-gray);
}

.navbar-brand {
  font-family: 'Sacramento', cursive;
  padding: 0;
  font-size: 2.7em;
}

.navbar-light .navbar-toggler {
  border-color: var(--color-light-gray);
  outline-color: var(--color-form-border);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-small {
min-height: 60px;
}

.navbar-brand-small {
  font-size: 2em;
}

.navbar-light .navbar-nav .nav-link {
color: var(--color-text);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
color: var(--color-main);
}

/* Home */

.parallax {
  width: 100%;
  height: calc(100vh - 40px);
  background-image: url("/static/images/home_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home {
  text-align: center;
  margin: 50% auto 0;
  position: absolute;
  right: 0;
  left: 0;
  max-width: 95%;
}

.jumbotron {
  background-color: #ffffff00;
  color: var(--color-light-gray);
}

.home__title h1 {
  margin: auto;
  font-family: 'Sacramento', cursive;
  font-size: 3.6em;
}

.home__title p {
  padding: 0 60px;
}

/* About */
.about {
  background-color: var(--color-main-light);
}

.about-row {
  padding-bottom: 70px;
  margin: auto;
}

.about__img__img {
  width: 100%;
}

.about__txt {
  text-align: center;
  max-width: 90%;
  margin: auto;
}

.about__txt__br {
  display: block;
  content: "";
  margin-top: 25px;
}

.about p {
  font-size: 1.2em;
}

.about h3 {
  padding: 30px 0 20px;
  margin: 0;
  font-size: 4em;
}

/* Patterns in main page */

.card{
  position: relative;
  margin: 10px auto;
  max-width: 600px;
  border: none;
  background-color: var(color-main-super-light);
}

.card__img {
  height: 260px;
  margin: 12px;
  background-image: url("https://cdn.pixabay.com/photo/2017/07/25/01/22/cat-2536662_960_720.jpg");
  background-size: cover;
  background-position: center center;
}

.card__body {
  padding: 0 15px;
}

.card__body__header h6 {
  font-size: 0.8em;
}

.card__body__header__category-icon {
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  display: inline-block;
}

.card__body__header__text {
  display: inline-block;
  padding-left: 10px;
  width: calc(100% - 50px);
}

.card__body__header__text h4,
.card__body__header__text h6 {
  margin: 0;
}

.card__body__header__text h6 {
  padding-left: 3px;
}

.card__body__header__title{
  line-height: 1.5;
  margin: 0 0 10px;
  font-size: 1.2em;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__body__txt {
  line-height: 1.2;
  font-size: 1em;
  max-height: 96px;
  padding-top: 3px;
}

.card__body__txt p {
  padding-left: 46px;
}

.card__link{
  position: absolute;
  right: 24px;
  bottom: 20px;
  text-decoration: none;
}

/* Pagination */
.nav-center {
  margin: auto;
}

.page-link {
  color: var(--color-main);
}

.page-item.active .page-link {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.page-link:hover {
  color:  var(--color-text);
  background-color: var(--color-light-gray);
  border-color:  var(--color-light-gray);
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem var(--color-form-border);
}

/* Get pattern*/

.patterns {
  width: 90%;
  margin: auto;
}

.notes {
  white-space: pre-wrap;
}

.pattern__img {
  height: 300px;
  margin: 60px 12px;
  background-size: cover;
  background-position: center center;
  height: 60vh;
}

.patterns__txt {
  margin: 12px;
}

.fa-circle { 
  color: var(--color-main);
  padding: 2px;
}


/* Add/Edit Pattern */
#add-edit-pattern.site-content {
  padding-bottom: 0;
}

.add-edit-pattern {
  background-image: url("../images/add_edit_pattern.jpg");
  min-height: calc(100vh - 140px);
}

.add-edit-pattern__form {
  padding-bottom: 60px;
}

.form-control:focus {
  border-color: var(--color-main-light);
  box-shadow: 0 0 0 0.2rem var(--color-form-border);
}

.buttons {
  width: 100%;
  text-align: right;
  padding-right: 15px;
  padding-top: 20px;
}

.btn-danger {
  color:var(--color-light-gray);
  background-color:  var(--color-main);
  border-color:  var(--color-main);
}

.btn-danger:hover {
  color:var(--color-light-gray);
  background-color: var(--color-text);
  border-color: var(--color-text);
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem var(--color-form-border);
}

/* Errors */
#error404.site-content {
  padding: 0;
}

.error-page {
  background-image: url("../images/error_img.jpg");
  min-height: calc(100vh - 40px);
}

.error__txt {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  width: 75%;
}

.error__txt h4 {
  margin-bottom: 15px;
}


/* Footer */

footer {
  background-color: var(--color-light-gray);
  height: 40px;
  padding-top: 6px;
}

.social-links {
  text-align: center;
  margin-bottom: 0px;
  margin: auto;
}

.fab {
  color: var(--color-text);
  font-size: 22px;
  padding-top: 3px;
}

.fab:hover {
  font-weight: 700;
  color: var(--color-main);
}
