/** General paddings, margins, styles **/
*,
a:hover {
  text-decoration: none;
}

body,
html {
height: 100%;
font-family: "Roboto", sans-serif;
text-align: justify;
}

.background-image {
min-height: 100%;
width: 100%;
display: block;
background-size: cover;
padding-top: 20px;
background-position: center;
position: relative;
background-attachment: fixed;
}

.section-style{
width: 80%;
}

.section__title {
text-align: center;
font-size: 3vw;
margin: 0;
}

/* Header */
.nav {
position: fixed;
top: 0;
z-index: 5;
width: 100%;
height: 40px;
font-family: "Amatic SC", sans-serif;
font-size: 1.5em;
}

.solid {
background-color: #f7f7f7;
transition: background-color 1s ease 0s;
}

.nav {
  background-color: #f7f7f7;
}

.nav-link {
color: #352523;
}

.nav-link:hover {
font-weight: 700;
color: #2a201f;
}

/* Home */
.parallax {
width: 100%;
height: 60vh;
background-image: url("../images/01.home_img.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.jumbotron {
background-color: rgba(0, 0, 0, 0);
text-align: center;
}

.home-title-container {
max-width: 700px;
background-color: rgb(250, 250, 250, 0.8);
border-radius: 10px;
}

.display-4 {
padding-top: 30px;
padding-bottom: 10px;
font-family: "Amatic SC", sans-serif;
font-weight: 400;
font-size: 6em;
}

.patterns{
  /* background-color: pink; */
  padding: 20px 0;
}

.pattern-grid-area {
	margin: 50px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
		"area_1"
		"area_2"
		"area_3";

	grid-template-columns: auto;
	grid-template-rows: 260px 260px 260px;
}

.pattern-grid--1 { grid-area: area_1; }
.pattern-grid--2 { grid-area: area_2; }
.pattern-grid--3 { grid-area: area_3; }

.pattern-grid {
  position: relative;
  overflow: hidden;
  background: gray;
  border-radius: 4px;
}

.pattern-grid__bg{
  position: absolute;
  height: 100%;
  width: 100%;
  
  background-image: url("https://cdn.pixabay.com/photo/2017/07/25/01/22/cat-2536662_960_720.jpg");
  background-size: cover;
  background-position: center center;
  transition: all .6s;
}

.pattern-grid__bg:hover {
  transform: scale(1.2);
}

.pattern-grid__title {
  position: absolute;
  transition: all 0.4s ease-in;
  bottom: -100px;
  left: 0;
  right: 0;
  background: white;
  opacity: 0.4;
  padding: 0.4em 1em;
}

.pattern-grid:hover .pattern-grid__title {
  bottom: 0;
}


.card{
position: relative;
padding: 0 0 30px;
margin: 24px auto;
max-width: 600px;
border: 2px solid black;
border-radius:3px;
}
.card__img{
height: 260px;
margin: 12px;
background-image: url("https://cdn.pixabay.com/photo/2017/07/25/01/22/cat-2536662_960_720.jpg");
background-size: cover;
background-position: center center;
}

.card__body {
margin: 12px 12px 24px;
padding: 15px;
}

.card__body__header h6 {
  font-size: 0.8em;
}

.card__body__header__category-icon {
  background-image: url("../images/icons/needles.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  display: inline-block;
}

.card__body__header__text {
  display: inline-block;
  padding-left: 10px;
}

.card__body__header__text h4, .card__body__header__text h6 {
  margin: 0;
}

.card__body__header__text h6 {
  padding-left: 3px;
}

.card__body__header__title{
line-height: 1.5;
margin: 0 0 10px;
font-size: 1.2em;
text-transform: capitalize;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.card__body__txt{
line-height: 1.2;
font-size: 1em;
max-height: 96px;
overflow: hidden;
padding-top: 15px;
}

.card__link{
position: absolute;
right: 24px;
bottom: 20px;
text-decoration: none;
}

/* Get pattern*/

.pattern__img{
  height: 300px;
  margin: 12px;
  background-size: cover;
  background-position: center center;
  }

.patterns-container{
max-width: 80%;
margin: auto;
}

.fa-circle { 
  color: #f16fd5;
}

/* Footer */

footer {
  background-color: #f7f7f7;
  height: 40px;
  padding-top: 6px;
}

.social-links {
  text-align: center;
  margin-bottom: 0px;
  margin: auto;
}

.fab {
  color: #352523;
  font-size: 22px;
  padding-top: 3px;
}

.fab:hover {
  font-weight: 700;
  color: #2a201f;
}

@media (min-width: 480px) {
	.pattern-grid-area {
		grid-template-areas: "area_1 area_2"
												 "area_1 area_3";

		grid-template-columns: 2fr 1fr;
		grid-template-rows: 260px 260px;
	}
}

/* @media only screen and (min-width: 980px){
.card{
  height: 340px;
  max-width: none;
}
.card__img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: calc(50% - 24px);
}
.card__body{
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 50%;
  width: 45%;
  
}
.card__body__txt{
  max-height: 175px;
  }
} */

@media only screen and (min-width: 1025px) {
  .patterns-container{
    max-width: 60%;
  }
}