{% extends 'base.html' %} {% block content %}

<h3>Edit a documentary</h3>

<div class="row">
    <form action="{{url_for('update_documentary', documentary_id=documentary._id)}}" method="POST" class="col s12">
      <!-- category name -->
        <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">poll</i>
              <select id="category" name="category_name" required>
                {% for category in categories %}
                    <option value="{{category.category_name}}">{{category.category_name}}</option>
                {% endfor %}
              </select>
              <label>Category</label>
          </div>
        </div>
      <!-- title -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <textarea type="text" id="docu_title" name="docu_title" class="materialize-textarea" required>{{documentary.docu_title}}</textarea>
            <label for="autocomplete-input">Title</label>
          </div>
        </div>
      <!-- summary -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <textarea type="text" id="docu_summary" name="docu_summary" class="materialize-textarea" required>{{documentary.docu_summary}}</textarea>
          <label for="autocomplete-input">Summary</label>
        </div>
      </div>
      <!-- url -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <input type="url" id="docu_url" name="docu_url" class="materialize-textarea" value="{{documentary.docu_url}}" required>
            <label for="autocomplete-input">url</label>
          </div>
        </div>
      <!-- lenght -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <input type="number" id="docu_lenght" name="docu_lenght" class="materialize-textarea" value="{{documentary.docu_lenght}}" required>
            <label for="autocomplete-input">Length in minutes</label>
          </div>
        </div>
      <!-- produced by -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <textarea type="text" id="docu_produced_by" name="docu_produced_by" class="materialize-textarea" required>{{documentary.docu_produced_by}}</textarea>
            <label for="autocomplete-input">Produced by</label>
          </div>
        </div>
      <!-- language -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <textarea type="text" id="docu_language" name="docu_language" class="materialize-textarea" required>{{documentary.docu_language}}</textarea>
            <label for="autocomplete-input">Language</label>
          </div>
        </div>
      <!-- image -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <input type="url" id="docu_img" name="docu_img" class="materialize-textarea" value="{{documentary.docu_img}}" required>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Edit Meow
          <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light" type="submit" name="action">Delete Meow
            <i class="material-icons right">send</i>
          </button>
    </form>
</div>
{% endblock %}