{% extends 'base.html' %} {% block content %}

<section class="patterns">
    <div class="patterns-container">
        <h1 class="section__title">{{pattern.pattern_name}}</h1>
        <h5 class="section__sub-title">by {{pattern.pattern_by}}</h5>
        <div class="pattern__img" style="background-image: url({{pattern.pattern_img}})"></div>
        <div class="patterns__txt">
            <p><strong>Category:</strong> {{pattern.category_name}}</p>
            {% if (pattern.category_name == 'knitting' or pattern.category_name == 'crochet' or pattern.category_name == 'sewing') %}
                <p><strong>Size:</strong> {{pattern.pattern_size}}</p>
                <p><strong>Difficulty:</strong> {% include 'difficulty.html' %}</p>
                {% if (pattern.category_name == 'knitting' or pattern.category_name == 'crochet') %}
                    <p><strong>Crochet/needle size:</strong> {{pattern.pattern_needle_size}}</p>
                    <p><strong>Gauge:</strong> {{pattern.pattern_gauge}}</p>
                {% endif %}
                <p><strong>Yarn weight/fabric type:</strong> {{pattern.pattern_yarn_weight}}</p>
                <p><strong>How much do you need?:</strong> {{pattern.pattern_yardage}} </p>
            {% endif %}
            <p><strong>Language:</strong> {{pattern.pattern_language}}</p>
            <p><strong>Link:</strong> <a href="{{pattern.pattern_url}}" target="_blank">Click Here</a></p>
            <p><strong>Notes:</strong></p>
            <p class="notes">{{pattern.pattern_notes}}</p>
        </div>
        <div class="buttons">
            <a href="{{url_for('edit_pattern', pattern_id=pattern._id)}}" type="button"><button class="btn btn-danger">Edit</button></a>
        </div>
    </div>
</section> 


{% endblock %}