{% extends 'base.html' %} {% block content %}

<!-- Home -->
<div class="parallax">
    <section class="home background-image">
        <div class="jumbotron">
            <div class="container home-title-container">
                <h1 class="display-4">Stitching</h1>
                <h6>Knitting, crochetting and sewing patterns</h6>
            </div>
        </div>
    </section>
</div>
        
<!-- /Home -->

<!-- Patterns -->
<section class="patterns">
    <div class="patterns-container">
        <h1 class="title">Patterns</h1>
        <!-- images grid -->
        <div class="pattern-grid-area">
            <div class="pattern-grid pattern-grid--1">
                <div class="pattern-grid__bg"></div>
                <div class="pattern-grid__title">Lauca, que el parque vuelva a ser parque</div>
            </div>
            <div class="pattern-grid pattern-grid--2">
                <div class="pattern-grid__bg"></div>
            </div>
            <div class="pattern-grid pattern-grid--3">
                <div class="pattern-grid__bg"></div>
            </div>
        </div>
        
        <!-- card -->
        {% for pattern in patterns %}
        <div class="wrapper">
          <article class="card">
            <a href="{{pattern.pattern_url}}" target="_blank"><div class="card__img" style="background-image: url({{pattern.pattern_img}})"></div></a>
            <div class="card__body">
                <div class="card__body__header">
                    <h6>{{pattern.category_name}}</h6>
                    <h6>{{pattern.pattern_by}} - {{pattern.pattern_dificulty}}</h6>
                </div>
                <a href="{{pattern.pattern_url}}" target="_blank"><h4 class="card__body__title">{{pattern.pattern_name}}</h4>
              <div class="card__body__txt">
                <p>{{pattern.pattern_summary}}</p>
              </div></a>
            </div>  
            <a href="{{url_for('edit_pattern', pattern_id=pattern._id)}}" class="card__link">Edit</a>
          </article>
        </div>
        {% endfor %}
    </div>
</section>
    
{% endblock %}