{% extends 'base.html' %} {% block content %}

  <!-- Home -->
  <section class="home">
    <div class="container">
      <div class="row row-home">
        <div class="home__text col-12 col-xl-3">
          <h3 class="home-title">Stitching Life</h3>
        </div>
        <div class="col-12 col-xl-9">
          <div class="home-img"></div>
        </div>
      </div>
    </div>
  </section>       
  <!-- /Home -->

  <!-- About -->
  <section id="about" class="about">
    <div class="container">
      <h1 class="section__title">About</h1>
      <p>Knitting, crochet and sewing make us feel good. It helps us focus, feel creative and put the stresses of the day to rest. Now we want to share this 'secret' - it's the perfect time to get involved.
      <h3>Make yourself happy!</h3>
      Stitching Life is a place for knitters, crocheters and sewers to keep update to new patterns, and look to others for ideas and inspiration. The content here is all user- driven. This is a great place for you to keep notes about your projects, see what other people are making and find the perfect pattern.
      </p>
    </div>
  </section>
  <!-- About -->
  
  <!-- Patterns -->
  <section id="projects" class="projects">
      <div class="container">
        <h1 class="section__title">Projects</h1>
                    
          <!-- card -->
        <div id="cards" class="row">
          {% for pattern in patterns %}
          <div class="wrapper card_wrapper col-12 col-md-6 col-xl-4" data-category="{{pattern.category_name}}">
            <article class="card">
              <a href="{{url_for('get_pattern', pattern_id=pattern._id)}}" ><div class="card__img" style="background-image: url({{pattern.pattern_img}})"></div>
              </a>  
                  <div class="card__body">
                      <div class="card__body__header">
                          {% if pattern.category_name == 'knitting' %}
                              <div class= "card__body__header__category-icon" style="background-image: url('../static/images/icons/needles.png')"></div>
                          {% elif pattern.category_name == 'crochet' %}
                              <div class= "card__body__header__category-icon" style="background-image: url('../static/images/icons/crochet.png')"></div>
                          {% elif pattern.category_name == 'sewing' %}
                              <div class= "card__body__header__category-icon" style="background-image: url('../static/images/icons/sewing_machine.png')"></div>
                          {%else%}
                              <div class= "card__body__header__category-icon" style="background-image: url('../static/images/icons/article.png')"></div>
                          {% endif %}
                          <div class="card__body__header__text">
                              <h4 class="card__body__header__title">{{pattern.pattern_name}}</h4>
                              <h6> by {{pattern.pattern_by}} </h6>
                          </div>
                      </div>
                      <div class="card__body__txt">
                        {% if (pattern.category_name == 'knitting' or pattern.category_name == 'crochet' or pattern.category_name == 'sewing') %}
                          <!-- <p>Pattern size: {{pattern.pattern_size}}</p> -->
                          <p>Difficulty: {% include 'difficulty.html' %}</p>
                        {% endif %}
                          <!-- <p>Language: {{pattern.pattern_language}}</p>
                      </div> -->
                  </div>
            </article>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="row">
          <nav class="nav-center" aria-label="...">
            <ul class="pagination">
              {% if current_page != 1%}
                <li class="page-item"><a class="page-link" href="{{url_for('get_patterns', page=(current_page - 1))}}">Previous</a></li>
              {% endif %}
              {% for page in range(total_pages) %}
                {% if (page + 1) == current_page %}
                <li class="page-item active"><a class="page-link" href="{{url_for('get_patterns', page=(page + 1))}}">{{page + 1}}<span class="sr-only">(current)</span></a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{url_for('get_patterns', page=(page + 1))}}">{{page + 1}}</a></li>   
                {% endif %}
              {% endfor %}
              {% if current_page != total_pages %}
                <li class="page-item"><a class="page-link" href="{{url_for('get_patterns', page=(current_page + 1))}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
  </section>
{% endblock %}